<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGQQ.My.MySettings.SGQQConnectionString" connectionString="Data Source=QUIM2003,391;Initial Catalog=SGQQ;Persist Security Info=True;User ID=sa;Password=Datahouse123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
